<nav class="custom-navbar">
  <div class="custom-container">
    <a class="custom-navbar-brand" href="/">
      <img src="../assets/img/logoNemor.png" alt="SdyGames" width="100" height="50">
    </a>

   

    <!-- Links para usuários não logados -->
    <ul class="custom-nav" *ngIf="!isLoggedIn">
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTologin()">Login</button>
      </li>
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTocadastro()">Cadastrar</button>
      </li>
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTosobre()">sobre</button>
      </li>
      
    </ul>

    <!-- Menu para usuários logados -->
    <ul class="custom-nav" *ngIf="isLoggedIn" [ngClass]="{'logged-in-nav': isLoggedIn}">
       <div class="search-bar-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
        (keyup.enter)="onSearchSubmit()"
        placeholder="Buscar jogos..."
        class="search-input"
      />
      <button class="search-button" (click)="onSearchSubmit()">Buscar</button>
      <ul *ngIf="searchResults.length > 0" class="search-suggestions">
        <li *ngFor="let game of searchResults">
          <a (click)="selectSuggestion(game.name)">
            {{ game.name }}
          </a>
        </li>
      </ul>
    </div>
      <li class="custom-nav-item user-menu">
        <a class="custom-nav-link active">Olá, {{ username }}</a>
        <div class="dropdown-menu">
          <a (click)="logout()">Sair</a>
        </div>
      </li>
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTosobre()">Sobre</button>
      </li>
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTogeneros()">Gêneros</button>
      </li>
    </ul>
  </div>
</nav>
