<nav class="custom-navbar">
  <div class="custom-container">
    <a class="custom-navbar-brand" href="/">
      <img src="../assets/img/logoNemor.png" alt="SdyGames" width="100" height="50">
    </a>

    <!-- Links para usuários não logados -->
    <ul class="custom-nav" *ngIf="!isLoggedIn">
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTologin()">Login</button>
      </li>
      <li class="custom-nav-item">
        <button class="custom-nav-link active" (click)="onTocadastro()">Cadastrar</button>
      </li>
    </ul>

    <!-- Menu para usuários logados -->
    <ul class="custom-nav" *ngIf="isLoggedIn">
      <li class="custom-nav-item user-menu">
        <a class="custom-nav-link active">Olá, {{ username }}</a>
        <div class="dropdown-menu">
          <a (click)="logout()">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
