<div class="img-bg">
  <img src="../assets/img/002.jpg" alt="">
</div>
<div class="container mt-5">
  <h2 class="mb-4">Cadrastre de usurário</h2>

  <!-- Formulário de cadastro -->
  <form>
    <!-- Nome -->
    <div class="mb-3">
      <label for="nome" class="form-label">Nome completo</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" required>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Endereço de email</label>
      <input type="email" class="form-control" id="email" placeholder="seuemail@example.com" required>
    </div>

    <!-- Senha -->
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" required>
    </div>

    <!-- Confirmação de senha -->
    <div class="mb-3">
      <label for="confirmarSenha" class="form-label">Confirme sua senha</label>
      <input type="password" class="form-control" id="confirmarSenha" placeholder="Digite a senha novamente" required>
    </div>


    <!-- Botão de envio -->
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>