<div>
  <app-header/>
</div>
<br><br>



<div *ngIf="isLoading" class="loading-indicator">
  <p>Buscando...</p>
</div>

<div *ngIf="showNoResults && !isLoading" class="no-results">
  <p>Nenhum jogo encontrado para "{{ searchQuery }}"</p>
</div>
<button (click)="goBack()" class="back-button">&larr; Voltar</button>
<br><br>
<ul class="results-grid" *ngIf="!isLoading">
  <li *ngFor="let game of results" class="game-card">
    <a [routerLink]="['/game-details', game.slug]">
      <img *ngIf="game.background_image" [src]="game.background_image" alt="{{ game.name }}" loading="lazy">
      <div class="game-info">
        <h3>{{ game.name }}</h3>
        <p><span class="label">Lançamento:</span> {{ game.released | date: 'dd/MM/yyyy' }}</p>
        <p *ngIf="game.metacritic"><span class="label">Metacritic:</span> <span class="meta">{{ game.metacritic }}</span></p>
      </div>
    </a>
  </li>
</ul>
<br><br>
<button (click)="goBack()" class="back-button">&larr; Voltar</button>
<br><br>


